
@import './variables.css';
@import './animations.css';
@import './components.css';
@import './utilities.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    overflow-x: hidden;
  }

  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }
}

.orange-highlight {
  background: linear-gradient(90deg, #FF7A00, #FF36A3);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.connexi-gradient-text {
  background: linear-gradient(90deg, #FF7A00, #FF36A3, #9747FF, #0832A2);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
